:root{

--bg:#081122;

--sidebar:#111827;

--card:#182338;

--primary:#38bdf8;

--text:#ffffff;

--text-secondary:#94a3b8;

--border:#334155;

}

.light{

--bg:#f1f5f9;

--sidebar:#ffffff;

--card:#ffffff;

--primary:#0ea5e9;

--text:#0f172a;

--text-secondary:#475569;

--border:#cbd5e1;

}